<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   <class name="ShopperLogin.Login8Test">
	   <methods>
		   <exclude name="TC_Login_004"></exclude>
	   </methods>
   </class>
   
   <class name="ShopperLogin.Login7Test">
	   <methods>
		   <include name="TC_Login_001"></include>
	   </methods>
   </class>
   
   <class name="ShopperLogin.Login9Test">
	   <methods>
		   <include name=""></include>
	   </methods>
   </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
